<ul>
  <% @stations.each do |station| %>
    <% require 'pry'; binding.pry %>
    <li><%= station.name %></li>
    <ul>
      <li><%= station.address %></li>
      <li><%= station.distance %></li>
      <li><%= station.fuel_type %></li>
      <li><%= station.access %></li>
    </ul>
  <% end %>
</ul>
